* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  background: url("../assets/img/cielo-con-estrellas.jpg") no-repeat
    center/cover;
}

.container {
  position: relative;
  /* transform-origin: bottom; */
  transition: all 1s linear;
  place-self: center;
  .nave-image {
    width: 200px;

    img {
      width: 100%;
    }
  }
}

.control {
  place-self: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);

  .butons {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      padding: 20px;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      border-radius: 10px;
      border: white 1px solid;
      outline: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.01);
      }
    }
  }
}

button[title="apagar"] {
  background-color: rgb(243, 14, 14);
  color: white;
}
button[title="encender"] {
  background-color: rgb(4, 211, 4);
  color: white;
}

.fuego {
  position: absolute;
  top: 100px;
  left: 0;
  /* transform: translateY(-0px); */
  z-index: -1;
  animation-name: motorEncendido;
  animation-duration: 2ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;

  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes motorEncendido {
  0% {
    transform: translateY(-0px);
  }

  100% {
    transform: translateY(-30px);
  }
}

[data-motor="on"] {
  display: block;
}
[data-motor="off"] {
  display: none;
}

.container .derecha {
  transform-origin: right;
}
.container .izquierda {
  transform-origin: left;
}
.container .bottom {
  transform-origin: bottom;
}
